* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

/* header styles  */

header {
    background-image: url('../../assets/images/donation5.jpg'), linear-gradient(to right top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
    height: 85vh;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.header-container {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-padding {
    padding-bottom: 15px;
}

.header-title {
    font-size: 38px;
}

.header-description {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 10px;
    background-color: tomato;
    width: fit-content;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}



/* Donate Amount Styles */
.donate-amount {
    margin-top: 100px;
}

.section-heading {
    font-size: 35px;
    text-align: center;
}

.section-description {
    padding: 35px 0;
    text-align: center;
    color: rgba(128, 128, 128, 0.842);
    margin: auto;
}

.amounts>ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.amounts>ul li {
    padding: 30px 15px;
    background-color: rgba(119, 114, 114, 0.199);
    margin: 25px 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
}

.grey-color {
    color: rgba(128, 128, 128, 0.863);
}

.red-amount {
    color: red;
    border: 2px solid red;
    background-color: rgba(47, 13, 236, 0.158);
}

hr {
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.header-button {
    justify-content: center;
    display: flex;
}

.header-button>button {
    background-color: red;
    margin-bottom: 100px;
}


.plan-container {
    display: flex;
    margin: 0 130px 0;
    gap: 20px;
    margin-bottom: 60px;
}

/* .plan-description {

} */

.plan {
    background-color: green;
    padding: 40px 30px 30px 15px;
    /* margin: 10px; */
    border-radius: 5px;
    width: 33%;
}
.plan-title{
    margin: 15px 0;

}
.plan-1{
    background-color: rgba(127, 255, 212, 0.178);
}
.plan-2{
    background-color: rgba(255, 192, 203, 0.603);
}
.plan-3{
   background-color: antiquewhite; 
}
/* Blog styles  */
.blog-post{
    display: flex;
    /* max-width: 1000px; */
    justify-content: center;
    margin: 0 200px;
    gap: 50px;
    
}
.blog-post img{
width: 400px;
}
.post{
    margin: 50px 0;
}
.post-heading{
    font-size: 35px;
}
.post-description{
    margin: 15px 0;
}
.post-image{
    border-radius: 7px;
}
